.git
.github
.idea
.vscode
*.md
!backend/**/*.md

backend/vendor
backend/node_modules
backend/.env
backend/.env.*
!backend/.env.example
!backend/.env.production.example
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*

frontend/node_modules
frontend/dist
frontend/.env

docker-compose*.yml
scripts
